{% extends 'HTWPhotoWebBundle::layout.html.twig' %}

{% block content %}
	<a href="{{ path('htw_photoweb_photo_upload') }}">Upload a new photo</a>

	<div>
		{% for photo in photos %}
		    <img alt="" src="{{ photo.getWebPath() | imagine_filter('thumbnail') }}">
		{% endfor %}
	</div>
{% endblock %}
