@import "compass/css3";

.ajax-popup {
	background: #eff0eb;
	padding:20px;
	position: relative;
	max-width:340px; 
	margin: 20px auto;

	@include border-radius(10px);

	label {
		color: #565557;
	}

	.button {
		margin-bottom: 0;
	}
}

.contain-to-grid {
	@include box-shadow(#3b3a3c 0px 5px 10px);
	position: relative;
    z-index: 100;
}


.top-bar {
	.title-area {
		.name {
			//hide text
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;

			//logo and size
			background: url(../images/logo.png) 20px 0 no-repeat;
			width:140px;
		}
	}

	.top-bar-section {
		.right.show-for-medium-up {
			margin-right: 30px;
		}

		.has-form {
			padding:0 0 0 10px;
		}

		li {
			a {
				color: #292929;

				&.button {
					color: #fbfbfb;
				}
			}
		}
	}


	.button {
		@include box-shadow(#206686 0px 3px 1px);
		@include background(linear-gradient(#34a7dc, #2488b6) !important);
		margin-top: 5px;
	
		&.register-button, &.logout-button {
			background:#6c6c6c; //fallback
			@include box-shadow(#6c6c6c 0px 3px 1px);
			@include background(linear-gradient(#a2a2a2, #838383) !important);
		}
	}
}

#main {
	background: #565557;
	padding: 15px 0 20px;
	margin-bottom: 15px;

	.home &, .search & {
		padding:0;
	}
}

.home-side-big {
	& > img {
		width:100%;
	}
}

.home-wrapper {
	position: relative;
}

.home-content-wrapper {
	left:0;
	right:0;
	position: absolute;
	top:30%;
	background: rgba(0,0,0,0.6);
	
	.home-block {
		padding:2% 4%;
		h4 {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}

.small-side-left, .small-side-right {
	padding:30px 0px;
	background-image: url(../images/home_left.jpg);
	background-size: cover;
	background-position: 0px 35%;

	.home-block {
		background: rgba(0,0,0,0.6);
		padding:20px;
	}
}

.small-side-right {
	background-image: url(../images/home_right.jpg);
	background-position: 0px 15%;
}

footer {
	color:#565557;
}

.searchbar {
    padding-top: 20px;
    background: #565457;
    border-right: 1px solid #a0a0a0;
}

.contentbar {
    background-color: #292929;
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchrow {
    display: flex;
}

.popup-gallery {
    .th {
        margin-right: 10px;
        margin-bottom: 15px;
    }
}


form {
	ul {
		margin: rem-calc(-8) 0 0 0;
		font-size: rem-calc(12);
		color: red;

		li {
			list-style-type: none;
		}
	}
}