@import "foundation/functions";

//body
$body-bg: #565557;
$body-font-color: #fbfbfb;
$body-font-family: 'Open Sans', sans-serif;
$header-font-family: $body-font-family; //fixed


//colors
// $primary-color: #008CBA;
// $secondary-color: #e7e7e7;


//headings
$header-font-color: #fbfbfb;

//topbar
$topbar-margin-bottom: 15px;
$topbar-height: 60px;
$topbar-bg: #efefeb;
$topbar-link-font-size: rem-calc(16);
$topbar-menu-link-color: #292929 !default;
$topbar-menu-icon-color: #292929 !default;
$topbar-menu-link-color-toggled: #292929 !default;
$topbar-menu-icon-color-toggled: #292929 !default;

//forms
$form-label-font-color: #fbfbfb;